body{
    min-height: 100vh;
    background-image: url(../images/cancha.webp);
    background-position: center;
    background-position: 0 18px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.iconos{
    color: rgb(248, 235, 215);
    font-size: 30px;
}
a, .a-header, p, h1, h2{
     font-family: 'Manrope', sans-serif;
     text-decoration: none;
    color:  rgb(248, 235, 215);
    
}
#a-header{
    font-family: 'Manrope', sans-serif;
     text-decoration: none;
    color:  rgb(248, 235, 215)
}

/*header*/

header{
    grid-area: header;
    width: 100%;
    background-color: rgb(44, 44, 52);
    border-style: outset;
    border-radius: 5px 5px 12px 12px;
    border-color:  rgb(248, 235, 215);;
    position: sticky;
    top: 0;
    z-index: 12;
    
      

}


.logo-pelota{
    width: 7rem;
    border-radius: 50px;
    margin-top: -20%;
}
.formulario {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: -35%;
    font-size: 50px;
    color: rgb(248, 235, 215);
  }
  

/*footer*/

footer{
    grid-area: footer;
    background-color: rgb(44, 44, 52) ;
    border-style: outset;
    border-radius: 10px 10px 5px 5px;
    border-color:  rgb(248, 235, 215);;
    justify-content: center;
    align-items: center;
    
}


.icono-footer{
    width: 60px;
    height: 60px;
    border-radius: 60px
    
    
}


/*grilla index*/

#grilla{ 
    display: grid;
    row-gap: 35px;
    grid-template-rows: 100px auto auto auto;
    grid-template-columns: 20% 60% 20% ;
    grid-template-areas: 
    "header header header"
    "izq parte1 der"
    "izq parte2 der"
    "footer footer footer";
}
#izq{
    grid-area: izq;
    
}
#der{
    grid-area: der;   
}
#parte1{
    grid-area: parte1;    
}
#parte2{
    grid-area: parte2;
   padding-left: 10px;

}
iframe{
    z-index: -10;
    
}

.cards{
    width: 250px;
    height: auto;
    
    
}

.slide{
    margin-top: 20px;
    width: 100px;
    height: 26.5rem;
  
   
}
.carousel{
    
    max-width: 48rem;
}
.card-title{
    color: rgb(248, 235, 215);
}
.fondo-carta{
    background-color: rgba(5, 7, 12, 0.5);
    border: solid 2px rgb(248, 235, 215);
}



/* COMPETICIONES*/

#grilla-competiciones{ 
    display: grid;
    row-gap: 40px;
    grid-template-rows: 100px 1fr auto;
    grid-template-columns: 20% auto 20%;
    grid-template-areas: 
    "header header header"
    "izq competiciones der"
    "footer footer footer";
}

li{
    list-style: none;
}
#competiciones{
    grid-area: competiciones;
    border: solid 5px rgb(248, 235, 215) ;
    border-radius: 4px;
    background:rgba(5, 7, 12, 0.5);
    box-shadow: inset -1rem -1rem 57px 0.8rem  #00B100;
    
    
 
}
.seriea-logo, .laliga-logo, .logo-champions, .premierlogo, .bundes-logo, .ligue1-logo{
    width: 90px;
    height: 90px;
    border-radius: 100px;
    
   
   
}
.logo-europa{
    width: 90px;
    height: 90px;
    border-radius: 100px;
}
.alinear{
    border-style: solid ;
    text-decoration: none;
    border-color: rgb(248, 235, 215);
    border-radius: 3px;
    width: 48%
    
}
.nombres-comp{
    padding-left: 50px;
    
}
.borde{
    border: solid 4px #9A9285 ;
    border-radius: 110px;
    width: 99px;
    z-index: 11;
    
    
}

/*Equipos*/

.footer-e{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.madrid, .city, .barca, .bayern, .juve, .inter, .milan, .sevilla, .roma, .chelsea{
    width: 90px;
    height: 90px;
    border-radius: 90px;
    border: solid 4px #9A9285;
    
}
#equipos-grilla{
    display: grid;
    grid-template-rows: 100px auto 65px;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-areas: 
    "header header header header"
    "izq equipos-izq equipos-der der"
    "footer footer footer footer";
   
    
    
}

#equipos-izq{
    grid-area: equipos-izq;
    border: solid 5px rgb(248, 235, 215) ;
    border-radius: 4px;
    background:rgba(5, 7, 12, 0.5);
    box-shadow: inset -1rem -1rem 57px 0.2rem  #00B100;
    width: 35rem;
    margin-top: 1rem;
    height: 40rem;
}
#equipos-der{
    grid-area: equipos-der;
    border: solid 5px rgb(248, 235, 215) ;
    border-radius: 4px;
    background:rgba(5, 7, 12, 0.5);
    box-shadow: inset -1rem -1rem 57px 0.2rem  #00B100;
    width: 35rem;
    margin-left: 8rem;
    margin-top: 1rem;
    height: 40rem;
    
}
.alinear-equip{
    border-style: solid ;
    text-decoration: none;
    border-color: rgb(248, 235, 215);
    width: 68%

}
.nombres-equip{
    padding-left: 20px;
}

/*Partidos*/

#partidos-grilla{
    display: grid;
    grid-template-rows: 100px auto 65px;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-areas: 
    "header header header header"
    "izq partidos-izq partidos-der der"
    "footer footer footer footer";
    height: 100vh;
  
   
    
}

#partidos-izq{
    grid-area: partidos-izq;
    
    
    
    
}
#partidos-der{
    grid-area: partidos-der;
    margin-left: 4rem;
    
    

    
}
.cartas-equip{
    width: 54rem;
    background-color: transparent;
    width: 380rem;
    height: 10rem;
    border: solid 3px rgb(248, 235, 215) ;
    border-radius: 4px;
    background:rgba(5, 7, 12, 0.5);
    
    

}
.imag-partidos{
   height: 9.6rem;
    width: 100%;
   
    
    
}

/*formulario*/

#formulario-grilla{
    display: grid;
    grid-template-rows: 100px 1fr 1fr auto;
    grid-template-columns: 30% auto 30% ;
    grid-template-areas: 
    "header header header"
    "izq registro der"
    "izq inicio-sesion der"
    "footer footer footer";
   
}
#registro{
    grid-area: registro;
   
   
}
#inicio-sesion{
    grid-area: inicio-sesion;
    margin-bottom: 12rem;
    
}
form{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 30px 20px;
    margin-top: 25px;
    background: rgba(5, 7, 12, 0.7);
    font-family: 'Manrope', sans-serif;
    color:  rgb(248, 235, 215);

    

}
.input-formulario{
    font-size: 1.6rem;
    height: 2rem;
    width: 100%;
    padding-left: 10px;
    border: solid 3px #00B100;
    border-radius: 10px;
    background: rgba(5, 7, 12, 0.7);
    font-family: 'Manrope', sans-serif;
    color:  rgb(248, 235, 215);

}
.boton{
    background-color: #00B100;
    border-color:rgb(248, 235, 215) ;
}
.body-form{
    position: relative;

}
.body-form::before{
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    min-height: 100%;
    opacity: 0.4;
    z-index: -5;
    
}
.form-text{
    font-family: 'Manrope', sans-serif;
    color:  rgb(248, 235, 215);
}
.input-formulario{
        background:rgba(5, 7, 12, 0.5);
        font-size: 18px;
        font-family: 'Manrope', sans-serif;
        
    
}
.card-text{
    font-family: 'Manrope', sans-serif;
    text-decoration: none;
   color:  rgb(248, 235, 215);
    
}
.small-custom{
    font-family: 'Manrope', sans-serif;
    color:  rgb(248, 235, 215);    
}
.card-footer{
    border-top: solid 1px rgb(248, 235, 215);
}
/*Medias Query*/

@media only screen and (max-width: 576px) {


    /*index*/
   .body-index{
    background-image: none;
    background-color: #05470A;
    
   }
    .navbar {
        position: relative;
        
      }
      
      .nav-link.ms-auto {
        position: fixed;
        top: 0;
        right: 5.6rem;
        margin-top: 2.5rem; 
       
      }
      .nav-link.ms-auto.index {
        position: fixed;
        top: 0;
        right: 6rem;
        margin-top: 2.5rem; 
        
      }
      .navbar-nav{
        background-color: rgba(5, 7, 12, 0.5);
        width: 20rem;
        padding-left: 1rem;
      }

.carousel{
  width: 10rem;
  height: 15rem;
  margin-right: 2.5rem;
  
}
iframe{
    width: 20rem;
    height: 15rem;
    
}
.p-iframe{
    padding: 1rem 0 1rem 0;
}


.cards{
    width: 20rem;
}
.noticias-titulo{
    padding-left: 5rem;
}


   /*Competiciones*/
.body-c{
    position: relative;
    padding-bottom: 10rem;
    background-image: none;
    background-color: #05470A;
    
}
   #competiciones{
    margin-right: 3rem;
   
  }   
   .alinear{
   width: 90%   
}
.c-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.compet{
 width: 120%;
    
   
}

/*Equipos*/
.body-e{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    background-image: none;
    background-color: #05470A;
    
    
}
.header-e{
    height: 100px;
    width: 100%;
}

#equipos-grilla{
    display: initial;
   
}

.cont-equipos, .d-ul, .flex-column {
    display: flex;
    flex-direction: column; 
}
.d-ul{
    align-items: center;
}
#equipos-der{
   display: flex;
   margin-bottom: 6rem;
   margin-right: 8rem;
}
 
/*Partidos*/
.body-p{
    position: relative;
    height: 260vh;
    background-image: none;
    background-color: #05470A;
}
.cartas-equip{
    width: 18rem;    
    height: auto;
    border: solid 3px rgb(248, 235, 215) ;  
}
.main-p, .p-ul {
    display: flex;
    flex-direction: column;
}

#partidos-der{
  margin-right: 3.8rem;
    
}



/*formulario*/
.body-form{
    position: relative;
    background-image: none;
    background-color: #09680F;
    
}
.footer-form{
    position: absolute;
    bottom: 0;
    width: 100%;

}
form{
    margin-top: 6rem;
}

}

/*Media Query para 768px*/

@media only screen and ( min-width: 577px) and (max-width: 768px) {

    /*index*/

    .navbar {
        position: relative;
        
        
      }
      
      
      .nav-link.ms-auto {
        position: fixed;
        top: 0;
        right: 5.6rem;
        margin-top: 2.5rem; 
       
      }
      .nav-link.ms-auto.index {
        position: fixed;
        top: 0;
        right: 6rem;
        margin-top: 2.5rem; 
        
      }
      .navbar-nav{
        background-color: rgba(5, 7, 12, 0.5);
        width: 20rem;
        padding-left: 1rem;
      }


      .carousel{
        width: 45rem;
        height: 16rem;
        margin-right: 2.5rem;
        
        
        
      }
      .p-iframe{
        padding: 1rem 0 1rem 0;
       margin-left: 0.9rem;
      }

      iframe{
        width: 30rem;
        height: 16rem;
      }
      #parte1{
        margin-left: -3rem;
      }
      #parte2{
        margin-left: 4rem;
      }
      .cards{
        width: 18rem;
      }
      .noticias-titulo{
        margin-left: -2.8rem;
      }

      /*Compecticiones*/

      .alinear{
        width: 20rem;
      }

      /*Equipos*/

      .header-e{
        height: 100px;}

    
    .body-e{
        display: flex;
        flex-direction: column;
        position: relative;
        min-height: 100vh; 
        
    }
    .cont-equipos, .d-ul, .flex-column {
        display: flex;
        flex-direction: column; 
    }

    
    #equipos-grilla{
        display: initial;
    }

    #equipos-izq, #equipos-der{
        width: 25rem;
       
     }

    .alinear-equip{
        width: 15rem;
    }
    
    #equipos-der{
        margin-left: -0.01rem;
        margin-bottom: 5rem;
    }
    

  
  

    /*Partidos*/

.main-p, .p-ul {
    display: flex;
    flex-direction: column;
}

.cartas-equip{
    width: 40rem;
}
#partidos-der{
    margin-left: -0.01rem;
}
.header-p{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
}
.footer-p{
    position: absolute;
    bottom: -32rem;
    width: 100%;
}
.body-p{
    height: 155vh;
}
.titulo-p{
    padding-top: 6rem;
}

}


/*Media Query para 992px*/

@media only screen and (min-width: 769px) and (max-width: 992px) {

    /*Index*/
    .carousel{
        height: 25rem;
    }
    .p-formulario{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

iframe{
    width: 100% ;
    height: 25rem;
    
    
}

   /*Competiciones*/

   .alinear{
    width: 100%;
   }
  
   /*Equipos*/
   
   .header-e{
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
   }
   
   .footer-e{
    position: absolute;
    bottom: 0;
    width: 100%;
   }
   #equipos-izq, #equipos-der {
  padding-right: 10rem;
  width: 55rem;

}
.alinear-equip{
    width: 150%;
}
.titulo-eq{
    padding-top: 6rem;
}
#equipos-der{
    margin-left: 4rem;
}

/*Partidos*/

.body-p{
    min-height: 120vh;
    position: relative;
    background-image: none;
    background-color: #05470A;
    
}
.header-p{
    position: absolute;
    top: 0;
    height: 100px;
   width: 100%;
}
.footer-p{
    position: absolute;
    bottom: 0;
  width: 100%;
}
.main-p, .p-ul {
    display: flex;
    flex-direction: column;
}
#partidos-izq{
    padding-left: 3.8rem 
  
}
.titulo-p{
    padding-top: 6rem;
}

}

/*Media Query para 1200px*/

@media only screen and (min-width: 993px) and (max-width: 1200px) {

    a, .a-header, p, #a-header, .card-text {
        font-size: 20px;
    }  
    .titulo-eq, .titulo-p, .noticias-titulo{
          font-size: 35px;
    }

/*Index*/

.p-formulario{
    padding: 1rem 0 1rem 0;
}
.carousel{
    width: 20rem;
}
iframe{
    width: 100%;
}
.cards{
    width: 20rem;
}

/*Competiciones*/

.c-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.alinear{
    width: 80%;
}

/*Equipos*/
.body-e{
    position: relative;
    
}
.footer-e{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.cont-equipos, .d-ul, .flex-column {
    display: flex;
    flex-direction: column; 
}
#equipos-izq {
    width: 45rem;
}
#equipos-der{
    margin-left: -0.01rem;
    width: 45rem;
}

/*Partidos*/

.cartas-equip{
    display: flex;
    flex-direction: column;
    width: 40rem;
    height:10rem ;
}

.main-p, .p-ul {
    display: flex;
    flex-direction: column;
}
#partidos-der{
margin-left: -0.01rem;
}

/*Formularios*/

form{
    font-size: 25px;
    width: 30rem;
    height: 30rem;
 
}
.input-formulario{
    height: 4rem;
}
.boton{
    font-size: 25px;
  height: 4rem;
}

}

/*Media Query para 1400px*/

@media only screen and (min-width: 1201px) and (max-width: 1400px) {

    a, .a-header, p, #a-header, .card-text {
        font-size: 23px;
    }  
    .titulo-eq, .titulo-p, .noticias-titulo, .titulo-comp{
         font-family: 'Manrope', sans-serif;
          
    }

    /*Index*/
    .body-index{
        position: relative;
        background-image: none;
        background-color: #05470A
       
    }
    
    .footer-i{
        position: absolute;
       bottom: 0;
       width: 100%;   
    }
    .carousel{
        width: 45rem;
        height: 30rem;
    }
    iframe{
        width: 100%;
        height: 30rem;
    }
    .p-formulario{
        padding: 1rem 0 1rem 0;
    }
    .cards{
        width: 25rem;
        padding-bottom: 4rem;
    }

    /*Competiciones*/

    .body-c{
        position: relative;
        background-image: none;
        background-color: #05470A;
    }
    

    .c-footer{
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    #competiciones{
       width: 60rem; 
       margin-top: 3rem;
       margin-left: -15rem;
    }
    .alinear{
        margin-top: 3rem;
        width: 70%
    }
    .titulo-comp{
        margin-left: -15rem;
    }
    .nombres-comp{
        font-size: 30px;
    }

    /*Equipos*/

    .body-e{
        position: relative;
    }
    .footer-e{
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .main-equipos{
        margin-left: -8rem;
       padding-top: 3rem;
    }
    #equipos-der{
        margin-left: 6.5rem;
        height: 55rem;
        padding-top: 3rem;
    }
    #equipos-izq{
        height: 55rem;
        padding-top: 3rem;
    }
 
    .madrid, .city, .barca, .bayern, .juve, .inter, .milan, .sevilla, .roma, .chelsea{
        width: 110px;
        height: 110px;
    }
    .nombres-equip{
        font-size: 30px
    }
    .titulo-eq{
        font-size: 60px;
        
    }

    /*Partidos*/

    .main-p, .p-ul {
        display: flex;
        flex-direction: column;
    }
    #partidos-der{
        margin-left: -0.01rem;
    }
 
    
form{
    font-size: 25px;
    width: 30rem;
    height: 30rem;
 
}
.input-formulario{
    height: 4rem;
}
.boton{
    font-size: 25px;
  height: 4rem;
}



  




}
