body{
    min-height: 100vh;
    background-image: url(../images/cancha.webp);
    background-position: center;
    background-position: 0 18px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.iconos{
    color: rgb(248, 235, 215);
    font-size: 30px;
}
a{
    text-decoration: none;
}
/*header*/

header{
    grid-area: header;
    background-color: rgb(44, 44, 52);
    border-style: outset;
    border-radius: 5px 5px 12px 12px;
    border-color:  rgb(248, 235, 215);;
    position: sticky;
    top: 0;
    z-index: 12;

}


.logo-pelota{
    width: 100px;
    border-radius: 50px;
    margin-top: -20%;
}
.formulario {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: -35%;
    font-size: 50px;
    color: rgb(248, 235, 215);
  }
  

/*footer*/

footer{
    grid-area: footer;
    background-color: rgb(44, 44, 52) ;
    border-style: outset;
    border-radius: 10px 10px 5px 5px;
    border-color:  rgb(248, 235, 215);;
    justify-content: center;
    align-items: center;
}


.icono-footer{
    width: 60px;
    height: 60px;
    border-radius: 60px
    
    
}


/*grilla index*/

#grilla{ 
    display: grid;
    row-gap: 35px;
    grid-template-rows: 100px auto auto auto;
    grid-template-columns: 20% 60% 20% ;
    grid-template-areas: 
    "header header header"
    "izq parte1 der"
    "izq parte2 der"
    "footer footer footer";
}
#izq{
    grid-area: izq;
    
}
#der{
    grid-area: der;
    align-self: center;
    
}
#parte1{
    grid-area: parte1;
    
       
       
}
#parte2{
    grid-area: parte2;
    padding-left: 10px;
}
iframe{
    z-index: -10;
}

.cards{
    width: 250px;
    height: auto;
    
}

.slide{
    margin-top: 20px;
    width: 722rem;
    height: 26.5rem;
    
}

/* COMPETICIONES*/

#grilla-competiciones{ 
    display: grid;
    row-gap: 40px;
    grid-template-rows: 100px auto auto;
    grid-template-columns: 20% auto 20%;
    grid-template-areas: 
    "header header header"
    "izq competiciones der"
    "footer footer footer";
}

li{
    list-style: none;
}
#competiciones{
    grid-area: competiciones;
    border-style: outset;
    border-color: rgb(248, 235, 215);
 
}

.seriea-logo, .laliga-logo, .logo-champions, .premierlogo, .bundes-logo, .ligue1-logo{
    width: 90px;
    height: 90px;
    border-radius: 100px;
   
   
}
.logo-europa{
    width: 90px;
    height: 90px;
    border-radius: 100px;
}
.alinear{
    border-style: solid ;
    text-decoration: none;
    border-color: rgb(248, 235, 215);
    width: 48%
    
}
.nombres-comp{
    padding-left: 50px;
    
}
.borde{
    border: solid 4px #9A9285;
    border-radius: 110px;
    width: 99px;
    z-index: 11;
    
}

/*EQUIPOS*/

.madrid, .city, .barca, .bayern, .juve, .inter, .milan, .sevilla, .roma, .chelsea{
    width: 90px;
    height: 90px;
    border-radius: 90px;
    border: solid 4px #9A9285;
    
}
#equipos-grilla{
    display: grid;
    grid-template-rows: 100px auto 65px;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-areas: 
    "header header header header"
    "izq equipos-izq equipos-der der"
    "footer footer footer footer";
    min-height: 120vh;
    
    
}

#equipos-izq{
    grid-area: equipos-izq;
    border-style: outset;
    border-color: rgb(248, 235, 215);
    width: 35rem;
    margin-top: 1rem;
    height: 40rem;
}
#equipos-der{
    grid-area: equipos-der;
    border-style: outset;
    border-color: rgb(248, 235, 215);
    width: 35rem;
    margin-left: 8rem;
    margin-top: 1rem;
    height: 40rem;
    
}
.alinear-equip{
    border-style: solid ;
    text-decoration: none;
    border-color: rgb(248, 235, 215);
    width: 68%

}
.nombres-equip{
    padding-left: 20px;
}

/*Partidos*/

#partidos-grilla{
    display: grid;
    grid-template-rows: 100px auto 65px;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-areas: 
    "header header header header"
    "izq partidos-izq partidos-der der"
    "footer footer footer footer";
    min-height: 120vh;
   
    
}

#partidos-izq{
    grid-area: partidos-izq;
    
    
    
}
#partidos-der{
    grid-area: partidos-der;
    margin-left: 4rem;
    
    

    
}
.cartas-equip{
    width: 54rem;
    background-color: transparent;
    border: solid 3px black;
    width: 380rem;
    height: 10rem;
    

}
.imag-partidos{
   height: 9.6rem;
    width: 100%;
   
    
    
}

